body{
    background-color: #523F20
}

.wrapper{
    width: 40%;
    margin: 5px auto;
    padding: 2px;
    background-color: #826A2C;
}

ul li.checked::before{
    content: '';
    position: absolute;
}

ul li.checked{
    background: rgb(185, 129, 64);
    color: #000000
    text-decoration: line-through;
}

h1{
    font-size: 32px;
    text-align: center;
    font-family: 'Indie Flower';
}

h2{
    font-family: 'Indie Flower';
    font-size: 12px;
}

h3{
    font-family: 'Indie Flower';
    font-size: 8px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(185, 129, 64);
    font-size: 18px;
    font-family: 'Indie Flower'
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.header {
    font-family: 'Indie Flower', serif;
    padding: 30px 40px;
    background-color: #8a5715;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    background-color: #D19C4F;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 10pt;
    font-family: 'Indie Flower'
}

.addBtn {
    font-family: 'Indie Flower', serif;
    padding: 10px;
    width: 25%;
    background: #4b3905;
    color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    font-size: 15px;
}
